.add-staff-menu {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: auto;
  background-color: white;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
  color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-staff-menu.open {
  right: 0;
  overflow-y: auto;
  height: 550px;
}

.menu-header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #00163B;
}

.icon6 {
  background-color: #494a4b;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.staff-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .divider3 {
    height: 1px;
    background-color: #00163B;
    border: 0.5px solid #00163B;
    margin: 10px 0;
  }
  
  .staff-form label {
    font-size: 14px;
    font-weight: bold;
    color: #00163B;
  }
  
  .staff-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #D2F7FF;
    background-color: #D2F7FF ;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn2 {
    display: flex;
    justify-content: start;
    margin-top: 15px;
    gap: 20px;
  }
  
  .cancel-button,
  .submit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .cancel-button {
    background-color: #3d3d3d;
    color: white;
  }
  
  .submit-button {
    background-color: #6489b1;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #777;
  }
  
  .submit-button:hover {
    background-color: #4774a3;
  }
  
  .form-row3 {
    display: flex;
    gap: 30px; /* Space between age and salary input */
  }
  
  .input-group {
    flex: 1; /* Ensures equal width for both inputs */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }