.staff-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .divider3 {
    height: 1px;
    background-color: #00163B;
    border: 0.5px solid #00163B;
    margin: 10px 0;
  }
  
  .staff-form label {
    font-size: 14px;
    font-weight: bold;
    color: #00163B;
  }
  
  .staff-form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #D2F7FF;
    background-color: #D2F7FF ;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn2 {
    display: flex;
    justify-content: start;
    margin-top: 15px;
    gap: 20px;
  }
  
  .cancel-button,
  .submit-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }
  
  .cancel-button {
    background-color: #3d3d3d;
    color: white;
  }
  
  .submit-button {
    background-color: #6489b1;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #777;
  }
  
  .submit-button:hover {
    background-color: #4774a3;
  }
  
  .form-row3 {
    display: flex;
    gap: 30px; /* Space between age and salary input */
  }
  
  .input-group {
    flex: 1; /* Ensures equal width for both inputs */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }