
  
  .coupons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
  }
  
  .coupon-container {
    background: white;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(206, 10, 10, 0.1);
    text-align: start;
  }
  
  .coupon-title {
    color: #133e87;
    margin-bottom: 5px;
  }
  
  .coupon-subtitle {
    font-size: 14px;
    color: #133e87;
  }
  
  .coupon-box {
    display: flex;
    justify-content: start;
    align-items: center;
    background: white;
    /* border: none; */
    margin-top: 40px;
    padding: 8px;
  }
  
  .coupon-code {
    font-weight: bold;
    color: #163ED4;
  }
  
  .copy-btn2,
  .apply-btn2 {
    background:transparent ;
    color: #00163b;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  
  }

  .copy-btn2{
           margin-left: 30px;
  }
  
  .copy-btn2:hover,
  .apply-btn:hover {
    background: #2980b9;
  }
  
  .terms-list {
    font-size: 12px;
    color: #888;
    text-align: left;
    padding: 0;
    list-style-type: none;
  }
  
  /* Time Limit Styling for Second Coupon */
  .time-limit {
    background-color: yellow;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
    display: inline-block;
  }
  
  .countdown-timer {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .timer-highlight {
    background-color: yellow;
    padding: 3px 6px;
    border-radius: 4px;
  }
  